@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
:root{
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 0%);
--Dark-Gray: hsl(0, 0%, 55%);
--Very-Dark-Gray: hsl(0, 0%, 41%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Alata', sans-serif; */
}
/* header  */
.container{
    background-image: url("./loopstudios-landing-page-main/images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    padding: 50px 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    font-family: 'Alata', sans-serif;
   position: relative;
}
.list{
    display: flex;
    gap: 20px;
    color: var(--White);
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    
    
}
.list > span , .list-footer > span{
    cursor: pointer;
    position: relative;
}
  /* Create the underline using ::after */
  .list > span::after , .list-footer > span::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px; /* Set the initial height of the underline */
    background-color: var(--White); /* Set the color of the underline */
    width: 0; /* Start with zero width */
    transition: width 0.3s ease; /* Add a transition for smooth animation */
  }

  /* Increase the width of the underline on hover */
  .list > span:hover::after , .list-footer>span:hover::after{
    width: 100%; /* Set the width to 100% on hover */
  }
.title{
    margin: 100px 0;
    padding: 40px;
    border: 2px solid var(--White);
    width: 600px;
    color: var(--White);
    font-size: 35px;
    text-transform: uppercase;
    
}

/* men body  */
.men{
    margin:100px;
    position: relative;
   
}
.men > img {
    width: 650px;
}
.box{
    padding: 100px;
    width: 650px;
    position: absolute;
    top: 120px;
    right: 0;
    background-color: var(--White);
}
.box > h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 20px;
    letter-spacing: 3px;
}
.box > p{
    color: var(--Very-Dark-Gray-Dark-Gray);
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 24px;
}

/* creation body  */
.space{
    margin: 100px 100px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.space > p{
    font-family: 'Alata', sans-serif;
    font-size: 35px;
   letter-spacing: 3px;
}
.space > button{
    padding:0px 25px;
    background-color: transparent;
    border: 1px solid var(--Black);
    text-align: center;
    text-transform: uppercase;
    color: var(--Black);
    font-weight: bold;
    letter-spacing: 3px;
    cursor: pointer;
}
.space > button:hover , .see-mobile:hover{
    color: var(--White);
    background-color: var(--Black);
}

/* picture  */
.col{
    margin: 0 100px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.row > .text >img , .row-second > .text > img{
    width: 240px;
}
.row-second{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.text{
    position: relative;
    cursor: pointer;
    transition: color 0.5s ease;
}
.text:hover img , .text-mobile:hover img{
    opacity: 0.5;
}
.text:hover p, .text-mobile:hover p{
    color: black;
}
.text > p{
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-size: 30px;
    color: var(--White);
    right: 80px;
}


/* footer  */
.footer{
    margin-top: 150px;
    background-color: var(--Black);
    padding: 50px 100px;
}
.first{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    gap: 20px;
    height: 20px;
}
.second{
    display: flex;
    padding-top: 40px;
    color: var(--White);
    justify-content: space-between;
}
.list-footer{
    display: flex;
    gap: 40px;
}
.logo-mobile, #burger, .display, .men-mobile, .creation-mobile, .col-mobile, .see-mobile{
    display: none;
}

@media screen and (max-width:1200px){
    .row > .text >img , .row-second > .text > img{
        width: 200px;
    }
}

@media screen and (max-width:1000px){
    .row > .text >img , .row-second > .text > img{
        width: 160px;
    }
    .text > p{
        text-transform: uppercase;
        position: absolute;
        bottom: 40px;
        left: 20px;
        font-size: 20px;
        color: var(--White);
        right: 20px;
    }
    .first, .second{
        flex-direction: column;
        text-align: center;
    }
    /* .second{
        padding-top: 150px;
    } */
    .first > img{
        width: 150px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .logo{
       display: none;
    }
    .list-footer{
        flex-direction: column;
        padding-bottom: 40px;
    }
    .logo-mobile{
        display: flex;
        margin: 0 auto;
        padding-bottom: 30px;
        gap: 20px;
    }
}

@media screen and (max-width:850px){
    .container{
        background-image: url("./loopstudios-landing-page-main/images/mobile/image-hero.jpg");
        padding: 50px;
        position: relative;
    }
    #menu, .men, .space, .col{
        display: none;
    }
    .header{
        margin: 0;
    }
    .display{
        display: flex;
        justify-content: space-between;
        padding: 50px 40px 200px 40px;
    }
    .list{
        top: 0;
        right: 0;
        position: fixed;
      
                /* margin-left: -100px; */
                  
        width: 100%;
        height: 100%;
        background-color: var(--Black);
        flex-direction: column;
        z-index: 500;
        /* padding-top: 250px; */
    }
    .list > span{
        text-transform: uppercase;
        /* padding: 50px; */
        padding: 0 0 20px 40px;
        font-size: 35px;
    }
    .men-mobile{
        display: flex;
        padding: 100px ;
        flex-direction: column;
    }
    .creation-mobile{
        display: flex;
        text-align: center;
        justify-content: center;
        font-family: 'Alata', sans-serif;
    font-size: 35px;
   letter-spacing: 3px;
   text-transform: uppercase;
    }
    .col-mobile{
        display: flex;
        margin: 80px auto 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .text-mobile{
        position: relative;
        margin-bottom: 20px;
    }
    .text-mobile > p{
        text-transform: uppercase;
        position: absolute;
        bottom: 40px;
        left: 20px;
        font-size: 30px;
        color: var(--White);
        right: 80px;
    }
    .box-mobile{
        text-align: center;
        padding: 50px;
    }
    .see-mobile{
        padding: 10px 25px;
        background-color: transparent;
        border: 1px solid var(--Black);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-transform: uppercase;
        color: var(--Black);
        font-weight: bold;
        letter-spacing: 3px;
        cursor: pointer;
    }
    .box-mobile > h1 {
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        padding-bottom: 20px;
        letter-spacing: 3px;
    }
    .box-mobile > p{
        color: var(--Very-Dark-Gray-Dark-Gray);
        font-weight: bold;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 24px;
    }
    #burger{
        display: flex;
        cursor: pointer;
        width: 40px;
        
    }
    #x{
        width: 40px;
        cursor: pointer;
    }
    .footer{
        margin-top: 100px;
       
        padding: 50px 20px;
    }
}
@media screen and (max-width:700px){
    .container{
       padding: 50px 20px;
    }
    .text-mobile > img{
        width: 500px;
    }
    .title{
        margin: 100px 0;
        padding: 40px;
        border: 2px solid var(--White);
        
        width: 400px;
        color: var(--White);
        font-size: 20px;
        text-transform: uppercase;
    }
    .men-mobile{
        display: flex;
        padding: 100px 20px;
        flex-direction: column;
    }
    .box-mobile{
        text-align: center;
        padding: 50px 20px;
    }
    
}
@media screen and (max-width:500px){
    .text-mobile > img{
        width: 350px;
    }
    .title{
        margin: 100px 0;
        padding: 40px;
        border: 2px solid var(--White);
        
        width: 300px;
        color: var(--White);
        font-size: 15px;
        text-transform: uppercase;
    }
    .box-mobile > h1 {
        font-size: 30px;
       
    }

}



